.drawer {
  @apply absolute left-0 bg-white shadow-md z-80 overflow-scroll;
  width: 25rem;
  height: calc(100vh - 123px);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.drawer.open {
  transform: translateX(0);
}

.drawer__top-bar {
  @apply sticky flex justify-end top-0 py-2 pr-3 pl-2 bg-gray-700;
}

.drawer__close-btn {
  @apply border-2 border-solid border-white rounded-full;
  height: 24px;
  width: 24px;
  background: url("../../assets/close-x-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.drawer__close-btn:hover {
  background: url("../../assets/close-x.svg");
  background-color: theme("colors.white");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.drawer__close-btn:focus {
  outline: none;
}
